doctype 5
html(lang="es")
	head
		title= "Pinta la Grilla en NodeJS"
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", href="css/colorpicker.css")
		script(src="jquery.js")
		script(src="socket.io/socket.io.js")
		script(src="grid.js")
		script(src="main.js")
		script(src="js/colorpicker.js")
	body
		h2 #{titulo}
		p
			span color:
			div#colorPicker
				div
			input(id="color",value="#999999", type="hidden")
		div#grid